<template>

    <div class="box box-primary box-solid">
        <div class="box-header">
            <h3 class="box-title">Cliente: {{ cliente.nombrecompleto }} - Telefono: {{ cliente.telefono }}</h3>
            <div class="box-tools pull-right">
                <!-- <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button> -->
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">DNI</label>
                    <div class="col-sm-3">
                        <input type="text" v-model="cliente.dni" class="form-control" :disabled="activo">
                    </div>
                    <label class="col-xs-1 control-label">Mail</label>
                    <div class="col-xs-5">
                        <input type="text" v-model="cliente.email" class="form-control" :disabled="activo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-2 control-label">Direccion</label>
                    <div class="col-xs-9">
                        <input type="text" v-model="cliente.direccion" class="form-control" :disabled="activo">
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a class="btn btn-info pull-right" @click.prevent="editar">Editar</a>
        </div>
    </div>
</template>

<script>
  export default {
    props: {
      cliente: {
        type: Object,
        required: true
      },
    },
    data () {
      return {
        activo: true,
      }
    },
    methods: {
        editar(){
            //console.log(this.cliente.id);
            window.location = laroute.route('cliente.edit', { cliente: this.cliente.id});
        },
    },
  }
</script>