<template>
    <form class="form-horizontal">
    <div class="box box-primary">
        <div class="box-header">{{ titulo }}</div>
        <div class="box-body">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="width:100px">Tipo</label>
                    <div class="col-sm-10">
                        <input type="radio" name="tipo" v-model="tipo" value="dni" id="radiodni"> DNI<br>
                        <input type="radio" name="tipo" v-model="tipo" value="cuit" id="radiocuit"> CUIT<br>
                    </div>
                </div>
                <div v-if="tipo === 'dni'">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="width:100px">DNI</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="dni" id="dni" v-model="dni">
                        </div>
                        <span class=" col-sm-2 input-group-btn">
                            <button type="button" class="btn btn-info btn-flat" @click.prevent="buscar">Buscar!</button>
                            <input type="hidden" name="id" id="id">
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="width:100px">Apellido</label>
                        <div class="col-sm-10">
                            <input type="text" name="apellido" id="apellido" :disabled="!nuevo" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="width:100px">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" name="nombre" id="nombre" :disabled="!nuevo" class="form-control">
                        </div>
                    </div>
                </div>
                <div v-if="tipo === 'cuit'">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="width:100px">CUIT</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="dni" id="dni" v-model="dni">
                        </div>
                        <span class=" col-sm-2 input-group-btn">
                            <button type="button" class="btn btn-info btn-flat" @click.prevent="buscar">Buscar!</button>
                            <input type="hidden" name="id" id="id">
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="width:100px">Nombre Fantasia</label>
                        <div class="col-sm-10">
                            <input type="text" name="apellido" id="apellido" :disabled="!nuevo" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="width:100px">Razon Social</label>
                        <div class="col-sm-10">
                            <input type="text" name="nombre" id="nombre" :disabled="!nuevo" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="width:100px">Telefono</label>
                    <div class="col-sm-10">
                        <input type="text" name="telefono" id="telefono" :disabled="!nuevo" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="width:100px">Direccion</label>
                    <div class="col-sm-10">
                        <input type="text" name="direccion" id="direccion" :disabled="!nuevo" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="width:100px">E-Mail</label>
                    <div class="col-sm-10">
                        <input type="text" name="email" id="email" :disabled="!nuevo" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a href="/cliente"><button type="button" class="btn btn-default">Cancelar</button></a>
            <button type="submit" class="btn btn-info pull-right" v-if="nuevo" @click.prevent="grabar">Crear</button>
            <button type="submit" class="btn btn-info pull-right" v-if="!nuevo" @click.prevent="siguiente">Siguiente</button>
        </div>
    </div>
    </form>
</template>

<script>
  export default {
    props: {
      cliente: {
        type: Object,
        required: false
      },
    },
    data () {
      return {
        nuevo: false,
        tipo: "dni",
        titulo: "Nuevo Cliente",
        dni: "",
      }
    },
    mounted() {
        if (this.cliente)
        {
            this.titulo = "Edicion de Cliente";
            if (this.cliente.tipo === 1)
            {
                $("#radiodni").prop('checked', true);
            }else{
                $("#radiocuit").prop('checked', true);
            }
            console.log(this.cliente.tipo);
            this.dni = this.cliente.dni
            this.tipo = this.cliente.tipo;
        }
    },
    methods: {
        siguiente () {
            window.location = laroute.route('orden.create', { cliente: $("#id").val() });
        },
        buscar () {
            let dni = $("#dni");
            if ((dni.val().length >= 7 && dni.val().length <= 8) || dni.val().length == 11) {
                let url = laroute.route('cliente.buscar', { dni: dni.val()});

                axios
                  .get(url)
                  .then((response) => {
                    let data = response.data;
                    if (jQuery.isEmptyObject(data)) {
                        toastr["error"]("Cliente no encontrado.");
                        this.nuevo = true;
                    }else{
                        toastr["success"]("Cliente encontrado.");
                        $("#apellido").val(data.apellido);
                        $("#nombre").val(data.nombre);
                        $("#telefono").val(data.telefono);
                        $("#direccion").val(data.direccion);
                        $("#email").val(data.email);
                        $("#id").val(data.id);
                    }
                  })
                  .catch((error) => {
                    toastr["error"]("Verifique los datos ingresados.");
                  });
            }else{
                if (this.tipo == "dni")
                {
                    toastr["error"]("Número de documento invalido");
                }else{
                    toastr["error"]("Número de CUIT invalido");
                }
            }
        },
        grabar () {
            var status = true;
            if ($("input[name='tipo']:checked").val() == "dni") {
                if ($("#dni").val().length == 0){
                    toastr["error"]("El DNI es un campo obligatorio");
                    status = false;
                }
                if ($("#apellido").val().length == 0){
                    toastr["error"]("El Apellido es un campo obligatorio");
                    status = false;
                }
                if ($("#nombre").val().length == 0){
                    toastr["error"]("El Nombre es un campo obligatorio");
                    status = false;
                }
            }else{
                if ($("#dni").val().length == 0){
                    toastr["error"]("El CUIT es un campo obligatorio");
                    status = false;
                }
                if ($("#apellido").val().length == 0){
                    toastr["error"]("El Nombre de Fantasia es un campo obligatorio");
                    status = false;
                }
                if ($("#nombre").val().length == 0){
                    toastr["error"]("El Rason Social es un campo obligatorio");
                    status = false;
                }
            }

            /*if ($("#email").val().length == 0) {
                toastr["warning"]("Verifique los datos ingresados. <button class='btn-flat btn-primary toast-action'>Continuar</button>");
            }*/

            if (status) {
                axios.post(laroute.route('cliente.store', { 
                    dni: $("#dni").val(),
                    apellido: $("#apellido").val(),
                    nombre: $("#nombre").val(), 
                    telefono: $("#telefono").val(), 
                    direccion: $("#direccion").val(), 
                    email: $("#email").val(), 
                    tipo: $("input[name='tipo']:checked").val(),
                    })).then((resp) => {
                        window.location = laroute.route('orden.create', { cliente: resp.data.id});
                });
            }

        }
    },
  }
</script>

<style scoped>
  .mr-10 {
    margin-right: 10px;
  }
</style>
